.temporada{
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.liga{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.liga-image img{
    width: 500px; 
    height: auto;
    border-radius: 10px;
}

.liga-info{
    width: 50%; 
    text-align: justify;
}

.liga-info h2{
    text-align: center;
    color: white; 
}

.liga-info h4{
    text-align: center;
    color: white;
}